*.pyc
io_xplane_debug.py
setup.py
tmp
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
__pycache__

*.swo
*.swp
*.orig

*.zip

.mypy_cache/*
.idea/*
.vs/*
builds/*

*.pyproj
*.sln
.DS_Store

io_xplane2blender_build/*

tests/object/config_blends/*

*_tmp_bake_images*
tests/features/rain/two_slot_textures/wiper_gradient_texture.png
tests/features/rain/four_slot_textures/wiper_gradient_texture.png
