<nav>
    <li class="fork"><a href="https://github.com/der-On/XPlane2Blender">View On GitHub</a></li>
    <li class="docs"><a href="https://github.com/der-On/XPlane2Blender/wiki/docs-3.2x-main">Docs</a></li>
    <li class="donations"><a href="donations.html">Donate</a></li>
    <li class="downloads"><a href="https://github.com/der-On/XPlane2Blender/zipball/master">ZIP</a></li>
    <li class="downloads"><a href="https://github.com/der-On/XPlane2Blender/tarball/master">TAR</a></li>
    <li class="title">DOWNLOADS</li>
</nav>